<header>
  <div class="overlay">
    <h1>Cocktails</h1>
    <br>
    <%= link_to "Create Cocktail", new_cocktail_path, class: "btn button" %>
  </div>
</header>


<div class="container">
  <div class="cards">
  <% @cocktails.each do |cocktail| %>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo, crop: :fill %>')">

        <h2><%= link_to cocktail.name, cocktail_path(cocktail), class: "cocktail-name" %></h2>
       <%= link_to "Delete", cocktail_path(cocktail), method: :destroy, data: {confirm: "Are you sure?" } %>
      </div>
  <% end %>
  </div>
</div>
